* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* Midpage */
.midpage {
    width: 75%;
}
/* General info */
/* Container 1 */
.fileName {
    font-family:MontseEXTRABOLD;
    font-size: 3rem;
    color: var(--txt-color);
    margin-top: 1rem;
}
.genInfo br {
    margin:0.5rem 0;
}
.author {
    font-family: MontseITALIC;
    font-size: 1.3rem;
    opacity: 0.8;
    color: var(--txt-color);
}
.divider {
    width:100%;
    height:0.06rem;
    background-color: var(--txt-color);
    margin:0.75rem 0;
}
/* Container 2 */
.container2 {
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

/* Thumbnail */
.itemImg img {
    width: 100%;
    height: 100%;
    /* max-height: 24rem; */
    object-fit: cover;
    display: block;
}
.itemImg {
    position: relative;
    width: 100%;
    margin-bottom: 0.8rem;
    border-top-left-radius: 1.5rem; 
    border-top-right-radius: 1.5rem; 
    border: solid 0.2rem var(--txt-color);
    overflow: hidden;
    display: block;
}

.controlPanel {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    background-color: #063B7D;
    border-top: solid 0.15rem var(--txt-color);
    border-left: solid 0.15rem var(--txt-color);
    border-top-left-radius: 0.8rem;
}

.controlPanel button {
    background: transparent;
    border: none;
    border-right: solid 0.15rem var(--txt-color);
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.controlPanel button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.controlPanel button:last-child {
    border-right: none; 
}

.controlPanel button img {
    width: 1.3rem;
    height: 1.3rem;
    object-fit: contain;
    border: none;
}
/* Container 3 */
.description {
    font-family:MontseBOLD;
    font-size: 2rem;
    color: var(--txt-color);
    margin-top: 3rem;
}

/* other info */
.otherInfo {
    font-family: MontseREG;
    font-size: 1.2rem;
    color:var(--txt-color);
    margin-top:1.6rem;
    letter-spacing:5%;
    line-height: 2rem;
}
.otherInfo div {
    margin-bottom: 0.6rem;
}

/* Other works */
.otherWorks {
    margin-top: 3rem;
}
.oWHead {
    font-family:MontseEXTRABOLD;
    font-size: 2rem;
    color: var(--txt-color);
    margin-top: 1rem;
}